@model AspLesson10._1.Models.SomeCompany
<html>
<head>
    <title>Info</title>
</head>
<body>
    <h3>В компанії @Model.Name @(Model.Country) більше співробітників: @Model.Workers </h3>
</body>
</html>