@model AspLesson10._1.Models.MyInfo
<html>
<head>
    <title>Ex1</title>
</head>
<body>
    <h3>@Model.Name</h3>
    <br />
    <h3>@Model.SurName</h3>
    <br />
    <h3>@Model.Age</h3>
    <br />
</body>
</html>