@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
<head>
    <title>Main Page</title>
</head>
<body>
    <a asp-action="Ex0">External Exercise</a>
    <a asp-action="Ex1">First Exercise</a>
    <a asp-action="Ex2">Second Exercise</a>
</body>
</html>